.container
  %p#notice= notice
  %p
    %strong Name:
    = @person.name
  %p
    %strong Date of birth:
    = @person.date_of_birth
  %p
    %strong Date of birth:
    = @person.phone_number

  = link_to 'Edit', edit_person_path(@person), {class: 'btn btn-secondary btn-sm'}
  = link_to 'Back', people_path, {class: 'btn btn-primary btn-sm'}
  = link_to 'Delete', @person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
