.container
  %p#notice= notice
  %h1
    %span.badge.badge-warning Addresses
  %table.table.table-striped
    %thead
      %tr
        %th Street
        %th City
        %th Zipcode
        %th Person Name
        %th{:colspan => "3"}
    %tbody
      - @addresses.each do |address|
        - pers = address.person
        - prof = pers.profile
        %tr
          %td= address.street
          %td= address.city
          %td= address.zipcode
          %td= pers.name
          %td= link_to 'Show', address, {class: 'btn btn-outline-info'}
          %td= link_to 'Edit', edit_address_path(address), {class: 'btn btn-outline-warning'}
  %br/
  = link_to 'New Address', new_address_path, {class: 'btn btn-danger'}
