!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title WebApplication
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/main_menu'
    .container
      #flash_hook
      .text-center
        - flash.each do |key, value|
        - alert_class = flash[:notice] ? 'success' : 'danger'
          %div{class: "alert alert-#{alert_class}"}
            %button.close{aria_label: 'Close', data: {dismiss: 'alert'}, type: 'button'}
              %span{aria_hidden: 'true'} ×
            = value
    = yield
